extends layout 

block content 

  h1 Designer: #{designer.name}
  
  div(style='margin-left:20px;margin-top:20px')

  h4 Games 
  if designer_games.length 
    dl 
      each game in designer_games 
        dt 
          a(href=game.url) #{game.title}
        dd #{game.description}
  else
    p This designer has no games.
  
  hr
  p 
    a(href=designer.url+'/delete') Delete designer