extends layout 

block content 

  h1 #{title}: #{gameInstance._id}

  p #[strong Title: ]
    a(href=gameInstance.game.url) #{gameInstance.game.title}
  p #[strong Price: ] $#{gameInstance.price}
  p #[strong Publisher:] #{gameInstance.publisher}

  p #[strong Status: ]
    if gameInstance.status == 'In Stock'
      span.text-success #{gameInstance.status}
    else if gameInstance.status == 'Ordered'
      span.text-warning #{gameInstance.status}
    else
      span.text-danger #{gameInstance.status}

  hr
  p Are you sure you want to delete this game instance?

  form(method='POST')
    div.form-group
      input#gameInstanceid.form-control(type='hidden', name='gameInstanceid', value=gameInstance._id)

    button.btn.btn-primary(type='submit') Delete