extends layout

block content
  h1= title
  p Welcome to #[em Board Game Inventory], a site built with Express and MongoDB

  h2 Current Stock

  p The inventory has the following record counts: 

  ul
    li #[strong Games:] !{game_count}
    li #[strong Copies:] !{game_instance_count}
    li #[strong Copies In Stock:] !{game_instance_in_stock_count}
    li #[strong Designers:] !{designer_count}
    li #[strong Genres:] !{genre_count}
    

